<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="skills-grid">
      <app-skill skillName="Python" skillIcon="fab fa-python"></app-skill>
      <app-skill skillName="Java" skillIcon="fab fa-java"></app-skill>
      <app-skill skillName="C++" skillIcon="fas fa-code"></app-skill>
      <app-skill skillName="SQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="C#" skillIcon="fab fa-microsoft"></app-skill>
      <app-skill skillName="JavaScript" skillIcon="fab fa-js"></app-skill>
      <app-skill skillName="SpringBoot" skillIcon="fas fa-leaf"></app-skill>
      <app-skill skillName="NodeJS" skillIcon="fab fa-node-js"></app-skill>
      <app-skill skillName="Angular" skillIcon="fab fa-angular"></app-skill>
      <app-skill skillName="TensorFlow" skillIcon="fas fa-brain"></app-skill>
      <app-skill skillName="PyTorch" skillIcon="fas fa-brain"></app-skill>
      <app-skill skillName="Unity" skillIcon="fas fa-cube"></app-skill>
      <app-skill skillName="GitHub" skillIcon="fab fa-github"></app-skill>
      <app-skill skillName="Selenium" skillIcon="fas fa-bug"></app-skill>
      <app-skill skillName="Wireshark" skillIcon="fas fa-network-wired"></app-skill>
      <app-skill skillName="AWS" skillIcon="fab fa-aws"></app-skill>
      <app-skill skillName="Linux" skillIcon="fab fa-linux"></app-skill>
      <app-skill skillName="MySQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="Oracle" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="PostgreSQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="SQLite" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="HTML" skillIcon="fab fa-html5"></app-skill>
      <app-skill skillName="CSS" skillIcon="fab fa-css3-alt"></app-skill>
      <app-skill skillName="Bootstrap" skillIcon="fab fa-bootstrap"></app-skill>
    </div>
  </div>
</div>
