<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="skills-grid">
      <app-skill skillName="Java" skillIcon="fab fa-java"></app-skill>
      <app-skill skillName="Python" skillIcon="fab fa-python"></app-skill>
      <app-skill skillName="C++" skillIcon="fas fa-code"></app-skill>
      <app-skill skillName="SQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="JavaScript" skillIcon="fab fa-js"></app-skill>
      <app-skill skillName="TypeScript" skillIcon="fab fa-js-square"></app-skill>
      <app-skill skillName="NodeJS" skillIcon="fab fa-node-js"></app-skill>
      <app-skill skillName="SpringBoot" skillIcon="fas fa-leaf"></app-skill>
      <app-skill skillName="React" skillIcon="fab fa-react"></app-skill>
      <app-skill skillName="Angular" skillIcon="fab fa-angular"></app-skill>
      <app-skill skillName="Bootstrap" skillIcon="fab fa-bootstrap"></app-skill>
      <app-skill skillName="Swift" skillIcon="fab fa-swift"></app-skill>
      <app-skill skillName="Kafka" skillIcon="fas fa-stream"></app-skill>
      <app-skill skillName="Docker" skillIcon="fab fa-docker"></app-skill>
      <app-skill skillName="Azure" skillIcon="fab fa-microsoft"></app-skill>
      <app-skill skillName="AWS" skillIcon="fab fa-aws"></app-skill>
      <app-skill skillName="Unity" skillIcon="fas fa-cube"></app-skill>
      <app-skill skillName="PostgreSQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="MongoDB" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="XCode" skillIcon="fab fa-apple"></app-skill>
      <app-skill skillName="MySQL" skillIcon="fas fa-database"></app-skill>
      <app-skill skillName="Tableau" skillIcon="fas fa-chart-pie"></app-skill>
    </div>
  </div>
</div>
