<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <!-- USC VASE -->
        <li>
          <div class="timeline-badge primary bg-usc">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">Akala Inc</div>
                <div class="h6 mt-0 position">Software Engineer Intern<span> (May 2024 - July 2024)</span></div>
                <ul class="role-description">
                  <li>Engineered a Python and PostgreSQL backend, scripting algorithms to process student preferences such as location, major,
                    and college culture for mentor-mentee matching</li>
                    <li>Designed a frontend for students to view matched mentors and implemented REST API calls for departments, providing
                    analytics on country representation, college diversity, and mentor statistics</li>
                    <li> Engineered a chatbot backend with Rasa, integrating custom rules to assist 200+ students in tracking emotional
                    well-being, scheduling tasks, and connecting with counselors</li>
                  <!-- <li>Designed and implemented RESTful APIs for seamless frontend-backend communication, ensuring efficient data exchange and system interoperability.</li>
                  <li>Developed an intuitive frontend interface for report generation and mentor capacity editing, enhancing user experience and system usability.</li> -->
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- ALBUS ADVENTURES -->
        <li class="timeline-inverted">
          <div class="timeline-badge secondary bg-albus">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">ThoughtWorks</div>
                <div class="h6 mt-0 position">Software Engineer Consultant <span>(December 2020 - October 2022)</span></div>
                <ul class="role-description">
                  <li>Architected and managed the data platform for a public agency in Singapore ensuring high availability, serving 1.5 million Singaporeans. Accelerated the collection, linking, and de-identification of health data from 20+ distributed database systems, improving the scope and depth of research and program activities.</li>
                  <li>Accomplished a data assimilation system with Bloom filters, decreasing processing time from 18 to 2 days.</li>
                  <li>Leveraged Debezium for change data capture on the producer database, coordinating with Kafka and Spark to
                    accelerate streamlined data ingestion into hub, and applied Azure Data Factory pipelines to boost data retrieval
                    processes.</li>
                    <li>
                      Crafted scripts for Databricks to manage data from raw Azure Data Lake Storage and fortified security through firewall
setup, while optimizing data processes through the creation and refinement of DAGs in Airflow.
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- TECHSKILLS IT CONSULTANTS -->
        <li>
          <div class="timeline-badge primary bg-techskills">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">ZS ASSOCIATES</div>
                <div class="h6 mt-0 position">Business Analyst Associate <span>(February 2020 - December 2020)</span></div>
                <ul class="role-description">
                  <li>Engineered an ETL process with SQL scripts to perform data integration for pharmaceutical companies.</li>
                  <li>Designed and implemented data models to identify facts and dimensions, utilizing MicroStrategy and Tableau to create
                    interactive, customized dashboards, enhancing data visualization and decision-making capabilities.</li>
                  <!-- <li>Designed and implemented RESTful APIs with Spring Boot for efficient data retrieval and seamless backend integration.</li> -->
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- FOX DOMOTICS -->
        <li class="timeline-inverted">
          <div class="timeline-badge secondary bg-fox">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">Wynk Limited(A Bharti Enterprise)</div>
                <div class="h6 mt-0 position">Front End Developer Intern<span>(June 2019 - August 2020)</span></div>
                <ul class="role-description">
                  <li>Revamped the upgrade to "CMS-Tool 2.0", improving the music app's content curation with reusable Angular 6 components</li>
                  <li>Performed Java backend validations and optimized MS SQL database operations, ensuring efficient data retrieval, storage, and
                    a seamless user experience</li>
                    <li>Check out the project: <a href="https://drive.google.com/file/d/1qbuDCByiKOXo-ui-JqoA9fpsmLvITJKT/view?usp=sharing" target="_blank">CMS-Tool Album-Track</a></li>
                  <!-- <li>Collaborated with the development team to integrate data-driven insights into actionable business strategies, improving operational efficiency and decision-making processes across the company.</li> -->
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
