<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <!-- USC VASE -->
        <li>
          <div class="timeline-badge primary bg-usc">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">USC VASE</div>
                <div class="h6 mt-0 position">Software Developer Intern <span>(January 2023 - Present)</span></div>
                <ul class="role-description">
                  <li>Engineered a sophisticated Python-based algorithm for optimized mentor-mentee pairings, considering preferences such as nationality, academic stream, and year.</li>
                  <li>Designed and implemented RESTful APIs for seamless frontend-backend communication, ensuring efficient data exchange and system interoperability.</li>
                  <li>Developed an intuitive frontend interface for report generation and mentor capacity editing, enhancing user experience and system usability.</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- ALBUS ADVENTURES -->
        <li class="timeline-inverted">
          <div class="timeline-badge secondary bg-albus">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">Albus Adventures</div>
                <div class="h6 mt-0 position">Software Engineer Intern <span>(May 2022 - December 2022)</span></div>
                <ul class="role-description">
                  <li>Designed and implemented web scraping solutions to gather and integrate data from educational sources, ensuring up-to-date and comprehensive platform content.</li>
                  <li>Collaborated with software verification engineers to devise, document, and execute test strategies for API integration, ensuring robust and seamless data flow.</li>
                  <li>Optimized database queries and storage solutions to improve the platform's performance and scalability.</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- TECHSKILLS IT CONSULTANTS -->
        <li>
          <div class="timeline-badge primary bg-techskills">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">TechSkills IT Consultants Private Ltd.</div>
                <div class="h6 mt-0 position">Full Stack Developer <span>(August 2020 - November 2020)</span></div>
                <ul class="role-description">
                  <li>Developed a web application using Angular 9, designing components like product listings, search functionality, and shopping cart features.</li>
                  <li>Utilized ReactJS for data operations and created interactive components with SyncFusion, enhancing user experience.</li>
                  <li>Designed and implemented RESTful APIs with Spring Boot for efficient data retrieval and seamless backend integration.</li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- FOX DOMOTICS -->
        <li class="timeline-inverted">
          <div class="timeline-badge secondary bg-fox">
            <i class="fa fa-building"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-12">
                <div class="h5 mt-0 title">Fox Domotics Private Ltd.</div>
                <div class="h6 mt-0 position">Data Analyst <span>(December 2019 - January 2020)</span></div>
                <ul class="role-description">
                  <li>Conducted comprehensive data analysis on 1,000+ Google Play store apps using Python, uncovering key trends and insights that drove product development and strategic business decisions.</li>
                  <li>Developed and implemented predictive models, including linear regression and decision tree algorithms, to forecast user engagement and app performance, directly influencing marketing strategies and product enhancements.</li>
                  <li>Collaborated with the development team to integrate data-driven insights into actionable business strategies, improving operational efficiency and decision-making processes across the company.</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
