<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <p align="justify">
              I am a software engineer with a passion for working on cutting-edge technology!
            </p>
            <p align="justify">
              I thrive in code challenges and love to work on anything from small hobby projects to
              large scale
              projects.
            </p>
            <p align="justify">
              Don't hesitate to contact me if you're in need of a pair of sharp eyes for your code.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">
                <a href="mailto:info@adamino.dk">dprajapa@usc.edu</a>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Contact:</strong>
              </div>
              <div class="col-sm-8">213-675-9882</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
