<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <p align="justify">
              
I am a dedicated software engineer with a Master’s in Computer Science from the University of Southern California. With strong expertise in Java and a passion for tackling complex technical challenges, I thrive in dynamic environments where I can quickly adapt to new technologies. My experience spans full-stack development, data engineering, and mobile app development, with a proven ability to learn and apply emerging tools and frameworks. I enjoy problem-solving and continuously seek out opportunities to innovate and improve through hands-on technical projects.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">
                <a href="mailto:info@adamino.dk">bsethi@usc.edu</a>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Contact:</strong>
              </div>
              <div class="col-sm-8">213-999-8439</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
