.section {
  padding: 60px 0;
  .title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #343a40;
  }
}

.cc-education {
  .education-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .education-timeline {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .mb-0 {
      margin-bottom: 0 !important;
    }
    .education-date {
      color: #ff9800; /* Change this color to your preferred color */
      font-weight: 700;
      font-size: 16px;
    }
  }
  .card-body {
    padding: 30px;
    .card-title {
      font-size: 24px;
      font-weight: 700;
      color: #007bff;
    }
    .card-subtitle {
      font-size: 18px;
      font-weight: 500;
      color: #6c757d;
    }
    p {
      font-size: 16px;
      color: #495057;
    }
    ul {
      padding-left: 20px;
      li {
        font-size: 14px;
        line-height: 1.8;
        color: #495057;
      }
    }
  }
}
