<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
  
      <!-- Education Entry 1: USC -->
      <div class="card education-entry">
        <div class="row">
          <div class="col-md-3 education-timeline bg-primary text-white" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2023-2024</p>
              <div class="h5">Master of Science</div>
            </div>
          </div>
          <div class="col-md-9 education-details" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h4">Computer Science</div>
              <h4 class="category">University of Southern California, Los Angeles, California</h4>
              <ul>
                <li>GPA: 3.58/4.0</li>
                <li>Relevant Courses:
                  <ul>
                    <li>Introduction to Computer Networks</li>
                    <li>Database Systems</li>
                    <li>Operating Systems</li>
                    <li>Analysis of Algorithms</li>
                    <li>Advanced Mobile Devices & Games</li>
                    <li>Machine Learning</li>
                    <li>Information Retrieval and Web Search Engines</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Education Entry 2: University of Mumbai -->
      <div class="card education-entry">
        <div class="row">
          <div class="col-md-3 education-timeline bg-secondary text-white" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018-2022</p>
              <div class="h5">Bachelor of Engineering</div>
            </div>
          </div>
          <div class="col-md-9 education-details" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h4">Electronics and Telecommunication Engineering</div>
              <h4 class="category">University of Mumbai, Mumbai, India</h4>
              <ul>
                <li>GPA: 9.21/10</li>
                <li>Relevant Courses:
                  <ul>
                    <li>Object Oriented Programming</li>
                    <li>Data Compression and Encryption</li>
                    <li>Image Processing and Machine Vision</li>
                    <li>Big Data Analytics</li>
                    <li>Management Information System</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  