<div class="section" id="education">
  <div class="container cc-education">
    <div class="h2 text-center mb-5 title">Education</div>
    
    <!-- University of Southern California -->
    <div class="card education-card mb-4">
      <div class="row no-gutters">
        <div class="col-md-3 education-timeline bg-primary text-white" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <p class="education-date">January 2023 - December 2024</p>
            <h5 class="mb-0">Master of Science</h5>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <h3 class="card-title">Computer Science</h3>
            <h4 class="card-subtitle mb-2 text-muted">University of Southern California, Los Angeles, California</h4>
            <p class="mb-2">GPA: 3.88/4.0</p>
            <p>Relevant Courses:</p>
            <ul>
              <li>CSCI 570: Analysis of Algorithms</li>
              <li>CSCI 585: Database Systems</li>
              <li>CSCI 571: Web Technologies</li>
              <li>CSCI 526: Advanced Mobile Devices and Game Consoles</li>
              <li>CSCI 572: Information Retrieval and Web Search Engines</li>
              <li>DSCI 552: Machine Learning for Data science</li>
              <li>CSCI 596: Scientific Computing and Visualization</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <!-- University of Mumbai -->
    <div class="card education-card mb-4">
      <div class="row no-gutters">
        <div class="col-md-3 education-timeline bg-primary text-white" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <p class="education-date">August 2016 - Sept 2020</p>
            <h5 class="mb-0">Bachelor of Engineering</h5>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <h3 class="card-title">Information Technology</h3>
            <h4 class="card-subtitle mb-2 text-muted">Guru Gobind Singh Indraprastha University, Delhi, India</h4>
            <p class="mb-2">GPA: 9.11/10</p>
            <p>Relevant Courses:</p>
            <ul>
              <li>Object Oriented Programming</li>
              <li>Data Compression and Encryption</li>
              <li>Image Processing and Machine Vision</li>
              <li>Big Data Analytics</li>
              <li>Management Information System</li>
              <li>Operating Systems</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
