<div class="section" id="project">
  <div class="container py-5">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="row">
      <!-- Project 1: WEENIX Kernel Development -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="project-card">
          <div class="project-icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="project-content">
            <h5 class="project-title">
              <a href="https://drive.google.com/file/d/19rP8V6pdbdMck6oCjiNMjKt_ZJ9Wcdjd/view?usp=sharing" target="_blank">Ebay Clone Website & iOS App</a>
            </h5>
            <ul class="project-description">
              <li>Developed a NodeJS web application and iOS app using Swift, integrated with
                eBay API. Features include efficient search result display and wishlist functionality. Applied Bootstrap for responsive
                design and Angular for frontend development.</li>
              <li>Deployed the application on Google Cloud Platform (GCP), ensuring scalability and high availability. Managed backend operations, including API calls, data processing, and synchronization between the web and mobile platforms for a seamless user experience.</li>
            </ul>
          </div>
        </div>
      </div>
        <!-- Project 4: Sentiment Analysis and Text Classification -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="project-card">
            <div class="project-icon">
              <i class="fa fa-brain"></i>
            </div>
            <div class="project-content">
              <h5 class="project-title">
                <a href="https://github.com/DSCI-552/final-project-bsethi17" target="_blank">Sentiment Analysis and Text Classification</a>
              </h5>
              <ul class="project-description">
                <li>Built a sentiment analysis model using Python and Keras, including data pre-processing and exploratory data analysis.</li>
                <li>Implemented and tested multiple models: Multi-Layer Perceptron (MLP), One-Dimensional Convolutional Neural Network (1D-CNN), and Long Short-Term Memory (LSTM).</li>
                <li>Applied NLP techniques such as word embeddings and tokenization to process and classify text reviews effectively.</li>
              </ul>
            </div>
          </div>
        </div>

      <!-- Project 2: eBay Clone Website & iOS App -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="project-card">
          <div class="project-icon">
            <i class="fa fa-bullhorn"></i>
          </div>
          <div class="project-content">
            <h5 class="project-title">
              <a href="https://github.com/Deep070/ebay_website" target="_blank">Grievances Redressal System</a>
            </h5>
            <ul class="project-description">
              <li>Developed and implemented a "Grievances Redressal System" to automate employee complaint management, allowing users to file and track complaints online. Leveraged HTML, CSS, JavaScript, and Bootstrap for an intuitive and responsive frontend interface.

              </li>
              <li>Built a robust backend using React and deployed the system on Google Cloud Platform (GCP), ensuring efficient data handling and scalability for seamless complaint processing and real-time tracking.</li>
              <!-- <li>Utilized Bootstrap for responsive design and Angular for frontend development.</li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- Project 3: Meeting Scheduler System -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="project-card">
          <div class="project-icon">
            <i class="fa fa-camera"></i>
          </div>
          <div class="project-content">
            <h5 class="project-title">
              <a href="https://github.com/Deep070/Meeting-Scheduler-System" target="_blank">IMAGE CAPTIONING</a>
            </h5>
            <ul class="project-description">
              <li>Designed and implemented an image captioning system utilizing Convolutional Neural Networks (CNN) for feature extraction and Long Short-Term Memory (LSTM) networks for word prediction, generating accurate captions for a wide range of images.</li>
              <li>Achieved reliable performance across various image types, validated using BLEU score, optimizing the model to improve caption accuracy and coherence in real-world scenarios.
              </li>
              <!-- <li>Created algorithms to find intersections of time intervals from multiple users' schedules, ensuring accurate and efficient meeting time suggestions.</li> -->
            </ul>
          </div>
        </div>
      </div>
    
      <!-- Project 5: Viral Vanguard - 2D shooter game -->
     <!-- Project 5: Viral Vanguard - 2D shooter game -->
<div class="col-lg-4 col-md-6 mb-4">
  <a href="https://bsethi17.github.io/gold_VV/" target="_blank" class="project-link">
    <div class="project-card">
      <div class="project-icon">
        <i class="fa fa-gamepad"></i>
      </div>
      <div class="project-content">
        <h5 class="project-title">Viral Vanguard - 2D shooter game</h5>
        <ul class="project-description">
          <li>Viral Vanguard is an engaging 2D shooter game that places players in the unique role of a virus. The objective is to strategically infect humans before an ambulance arrives, introducing a thrilling mix of real-time strategy and progressive gameplay elements.</li>
          <li>My contributions encompassed various aspects of the project, including game design, development, and testing. Notable responsibilities included brainstorming and refining game concepts, designing critical game mechanics like the shooting system, creating the game's user interface, implementing ambulance and shield feature in Unity using C#, playtesting, bug fixing, and analysing user feedback.</li>
        </ul>
      </div>
    </div>
  </a>
</div>

    </div>
  </div>
</div>
